.timeLeft {
  Font-size: 95px;
  color: #72b8ff;
  padding: 10px;
  text-align:center;
  padding-right: 40px;
}


.timertitle {
/*
  font-size: 100px;
  color: white;
*/
  text-transform: uppercase;
  font-size: var(--font-size-medium);
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
  font-weight: 700;
  border: 2px solid var(--color-text-bright);
  line-height: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: var(--color-text-bright);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 500px;
  border-radius: 18px 18px 0px 0px;
  background: #2C41FF;
  position: 0;
}

.msg {
  font-size: 120px;
  color: red;
  padding-right: 40px;
  padding-left: 0px;
}
