

    #canvas {
        display: none;
    }

    .camera {
        width: 340px;
        display: inline-block;
    }


    .contentarea {
        font-size: 16px;
        font-family: Arial;
        text-align: center;
    }

.contain
{ 
margin: 15px;
border-color: red;
border-top-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width: 2px;
border-style: solid;
height: 1240px;
}

h3{
       margin: auto;
       width: 400px;
       color: red;
	   }
       
.module.MMM-RecordPortal{
    background: #000;
    border: 0px;
} 
